<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login web</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="css">
            <h1>Register</h1>
            <form method="POST" action="auth_register">
                <input type="text" name="nama" placeholder="Yuk kenalan yuk, Nama?" required />
                <input type="email" name="email" placeholder="Emailnya dong kaka^^" required />
                <input type="password" name="password" placeholder="1+1 yak 1 jt , passwordnya?" required />
                <input type="submit" value="Register" />
            </form>
            <br />
            <center><a href="/register">Kembali ke kenangan lama di Login?</a></center>
        </div>
    </body>
</html>